section.stn-categories
    .container
        p
            i.fa.fa-list(aria-hidden='true')
            img(src='images/categories.png')
            |    categories
        ul.categories-list
            li
                a(href='') Clothing
            li
                a(href='') Electronics hot
            li
                a(href='') Health &amp; Beauty
            li
                a(href='') Watches
            li
                a(href='') Jewellery
            li
                a(href='') Shoes
