footer.footer
    .links
        .container
            .address.links__item
                a(href='')
                    img(src='images/logo.png' alt='MarketSupply')
                p
                    | This is Photoshop&apos;s version of Lorem Ipsum. Proin gravida nibh velit it&rsquo;s a cold world out there.
                p
                    img.img3(src='images/footer/map-marker.png')
                    |  0123  Main Road, Your City, NY 123456
                p
                    img.img3(src='images/footer/phone.png')
                    |  (000) 2345 - 6789
                p
                    img.img3(src='images/footer/mail.png')
                    |  info@psdfreebies.com
            .information.links__item
                h3 information
                a(href='') Our Story
                a(href='') Privacy &amp; Policy
                a(href='') Terms &amp; Conditions
                a(href='') Shipping &amp; Delivery
                a(href='') Careers
                a(href='') FAQs
            .our-social.links__item
                h3 our social
                .col-1
                    a(href='')
                        img.img3(src='images/footer/google.png')
                        | Google+
                    a(href='')
                        img.img3(src='images/footer/pinterest.png')
                        | Pinterest
                    a(href='')
                        img.img3(src='images/footer/vimeo.png')
                        | Vimeo
                    a(href='')
                        img.img3(src='images/footer/instagram.png')
                        | Instagram
                .col-2
                    a(href='')
                        img.img3(src='images/footer/facebook.png')
                        | Facebook
                    a(href='')
                        img.img3(src='images/footer/twitter.png')
                        | Twitter
                    a(href='')
                        img.img3(src='images/footer/RSS.png')
                        | RSS
                    a(href='')
                        img.img3(src='images/footer/youtube.png')
                        | YouTube
            .opening-time.links__item
                h3 Opening Time
                p
                    img.img3(src='images/footer/clock.png')
                    | Monday - Friday: 08:30 am - 09:30 pm
                p.pad Sat - Sun: 09:00 am - 10:00 pm
                h3.payment Payment Option
                a(href='#!')
                    img.img4(src='images/footer/payment.png')
    .footer__bottom
        .container
            p
                a(href='#!') Sitemap
                a(href='#!') Searchs
                a(href='#!') Searchs
                a(href='#!') Advance
                a(href='#!') Searchs
                a(href='#!') Contact Us
            p
                span &copy; 2016  PSDFreebies.com
                span |
                span All Rights Reserved.
