doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title Market Supply
        link(rel='stylesheet' href='font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet' href='css/main.css')
    body
        include sections/header
        include sections/categories
        include sections/main
        include sections/footer
    | //= template/header.html
    | //= template/categories.html
    | //= template/main.html
    | //= template/footer.html
